[System]
work_dir=/home/pi/sms-temperature-control/work

[Phone]
#Will be used to prevent SMS loops (accidentally sending SMS to itself). Matching
# is done by substring, so don't include the leading '0' to be sure the that both
# +46 123 456 789 and 0123 456 789 are caught by the check.
number=123456789
#
gammu_config_file=/home/pi/.gammurc
gammu_config_section=2
#
#If your network provider supports balance inquiry by USSD code (e.g. *111#),
# then enter the code here to be able to check the balance remotely.
ussd_balance_inquiry=
#
#Set the interval (in days) to fetch current balance using configured USSD code
# If set to zero, balance will only be fetched when requested via sms.
ussd_balance_auto_fetch_interval_days=0
#Optionally specify a regex to filter the USSD reply. Use a group to filter
# the regex match.
ussd_balance_reply_line_regex=

#
#Modem identifier specified as follows: vendorId:productId
# most 3G usb modems are USB 'flip-flop' devices, e.g. they have an
# usb storage device mode and a modem mode. The productId is different for these two
# modes, and it is important that you specify the productId of the modem mode here.
# example for ZTE MF190: 19d2:2000 for storage mode, 19d2:0017 for modem mode
# for Huawei E1820: 12d1:1446 for storage mode, 12d1:14ac for modem mode
# for Huawei E220: nothing, USB modem is loaded correctly by default
modem_identifier=

[Administrator]
number=+46987654321
notify_startup_sms=on

[SmsProcessing]
#
#Comma-separated ignore list of senders (or substrings of senders, alphanumerical)
blacklist_senders=
#
#Max diff (seconds) to tolerate between system datetime and received sms timestamp
# without updating system datetime. Set to 0 (zero) to disable.
system_datetime_max_diff_no_update_seconds=300

[PowerSwitching]
# The GPIO IDs that have relays connected (comma-separated list).
relay_gpio_channels=22,23
